@font-face {
  font-family: header;
  src: url("../fonts/MinecraftFifty-Solid.otf");
}

@font-face {
  font-family: text;
  src: url("../fonts/Minecraftia-Regular.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* color: var(--color-secundairy);
    background-color: var(--color-primary); */

    text-align: center;
}

:root {
    --color-primary: #fff;
    --color-secundairy: #0f0099;
}

h1, h2, h3, li div p {
    font-family: header;
}

p, a {
    font-family: text;
    line-height: 1.5em;
    text-align: start;
    color: var(--color-secundairy);
    padding: 1em 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url("/images/noise.png");
    background-repeat: repeat;
    background-size: 400%;
    opacity: .07;
    pointer-events: none;
    z-index: 5;
}

header {
    display: flex;
    justify-content: center;
    padding: 4em 0 2em 0;
}

.header-secundairy {
    margin: 0 1.2em;
}

.header-secundairy a {
    padding: 0;
}

img {
    width: 100%;
}

.renders main > div {
    position: relative;
    height: 36em;
    background-image: url("../images/renderThumbnail.jpg");
    background-repeat: no-repeat;
    background-size: 410%;
    background-position: center top;

    z-index: 1000;
}
    

section {
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: start;

    padding: 4em 0 2em 0;

    height: fit-content;

    margin: 1.2em;
}

main > div {
    margin: 1.2em;
}

li {
    position: relative;
    z-index: 1000;
    margin: 2em 0 0 0;
}

li:nth-of-type(1) {
    margin: 0;
}

li div {
    background-color: var(--color-primary);
    border: .3em solid var(--color-secundairy);
    padding: .5em 1em;
}

li div p {
    font-size: 1.5em;
    padding: 0;
}

.packages {
    background-color: var(--color-secundairy);
    margin: 0;
    padding: 4em 1.2em;

    height: fit-content;
}

.packages img {
    padding-bottom: 1em;
}

.packages > p {
    color: var(--color-primary);
}

.packages ul {
    color: var(--color-secundairy);
    width: 100%;
}

.packages li {
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: start;

    padding: 1em 1em;

    background-color: var(--color-primary);
    width: 100%;

    position: relative;
    z-index: 1000;
}

.packages > p:nth-of-type(2) {
    padding-bottom: 2em;
} 

.packages li > div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 2em;

    margin-bottom: 1em;

    border: none;
    padding: 0;
}

.packages li > p:last-of-type {
    padding-top: 2em;
    font-size: .6em;
}

.packages li > p {
    padding: .2em;
    font-size: 1em;
}

.packages li div h3,
.packages li > div p {
    font-size: 1.5em;
    padding: 0;
    margin: 0;

    color: var(--color-secundairy);
}

.packages div:last-of-type {
    width: 100%;
}

.packages > div p {
    color: var(--color-primary);
    text-align: center;
    padding: 2em 0;
}

footer {
    background-color: var(--color-secundairy);

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    padding: 2em 0 6em 0;
}

footer img {
    padding-bottom: 2em;
}

footer a {
    color: var(--color-primary);
    padding: .5em
}

.footer-secundairy {
    padding-top: 5em;
}

.builds main > div:first-of-type {
    background-image: url("../images/buildsThumbnail.png");
    background-position: 30% top;
    background-size: 300%;

    position: relative;
    height: 36em;
    background-repeat: no-repeat;

    z-index: 1000;

    overflow: hidden;
}
